ellipsis()
  overflow hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
  -webkit-box-orient: vertical; /* 垂直排列 */
  word-break: break-all;  /* 内容自动换行 */
  // overflow: hidden
  // white-space: nowrap
  // text-overflow: ellipsis